/* .ant-menu{
    max-width: 200px;
    position: fixed;
} */
.ant-menu-vertical{
    position: fixed;
    width: 80px !important; 
    transition: 0.05s;
    top: 100px;
}
.ant-menu-inline{
    position: fixed;
    width: 200px !important;
    top: 100px;

} 